html,
body {
    background: #00BFFF;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

:-moz-placeholder {
    color: #fff;
    opacity: 1;
}

::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

input {
    outline: none;
    font-size: 16px;
}

textarea {
    outline: none;
    font-size: 16px;
    overflow: auto;
    resize: none;
}

.box {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 10px #00BFFF;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transition: all 0.3s;
    z-index: 0;
    animation: anim 0.3s infinite;
}

.box.anim {
    width: 7px;
    height: 7px;
}

.login-box {
    display: none;
    position: absolute;
    margin: 0px auto;
    background: none;
    width: 350px;
    text-align: center;
    transition: all 0.3s;
    z-index: 2;
}

.input-text {
    width: 300px;
    background: none;
    border: none;
    border-bottom: 1px #fff solid;
    margin: 10px auto;
    padding: 10px;
    color: #fff;
    transition: all 0.3s;
    text-align: center;
}

.hidden {
    display: none;
}

.input-text:focus {
    border-bottom: 1px #fff solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #fff;
}

.input-btn {
    background: #fff;
    border: 1px #fff solid;
    padding: 10px;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 0 15px #fff;
    transition: all 0.5s;
    color: #00BFFF;
    cursor: pointer;
}

.input-btn:hover {
    box-shadow: 0 0 100px #fff;
}

.input-btn:active {
    box-shadow: 0 0 50px #fff;
}